name: Run checks

on:
  merge_group:
  pull_request_target:
    branches: ['main']
    paths-ignore: ['.github/**/*']
    types: ['closed']

jobs:
  run-checks:
    name: Run checks
    runs-on: ubuntu-latest
    steps:
      - id: run-checks
        name: Run checks
        uses: nedix/actions/run-checks@main
        with:
          command: echo 'Check'
